BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 140
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'
BreakStringLiterals: 'false'